$bg-primary: #59287a;
$bg-secondary: #00c9a7;
$bg-success: #0dd157;
$bg-danger: #fb4143;
$bg-warning: #fab633;
$bg-info: #2972fa;
$bg-dark: #1b1e24;
$bg-light: #f6f9fc;
$bg-white: #ffffff;

$primary: $bg-primary !default;
$secondary: $bg-secondary !default;
$success: $bg-success !default;
$info: $bg-info !default;
$warning: $bg-warning !default;
$danger: $bg-danger !default;
$light: $bg-light !default;
$dark: $bg-dark !default;

/*--------------------------------------*/

$current-day: #EDE7F6;
$holiday: #EEE;
$leave-approved: #8C9EFF;
$leave-requested: #FFD54F;
$sick-leave: #00E676;
$emergency-leave: #FFCCBC;
$work-from-home: #00BFA5;
$training: #80D8FF;